@use '../../../styles/variables';

.Label {
  align-items: center;
  align-self: center;

  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
}
.BtnPassword {
  justify-items: end;
}
