@use '../../../../styles/variables';

.IconSize {
  font-size: 1.25rem;
  margin-right: 1rem;
}
.TabsTab {
  padding: 1.5rem;
  min-height: inherit;
  .ant-tabs-tab > div {
    display: flex;
    align-items: center;
  }
}

.AddEmployeForm {
  min-height: calc(100vh - 95px);
}
