$Page_Title_color: #111828;
$Primary_text_color: #1a3353;
$Secondary_text_color: #455560;
$Input_box_border: #dfe1e6;
$Input_box_color: #172b4d;
$White: #ffffff;
$Border_color: #e6ebf1;
$Theme_primary: #3e79f7;
$Text_danger: #ff6b72;
$Text_gray: #72849a;
$Text_success: #04d182;
$Box_Shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
  0 9px 28px 8px rgb(0 0 0 / 5%);
